.im-logo {
  height: 1em;
  display: inline-block;
  margin-top: -0.1em;
  fill: $white;
  vertical-align: middle;
  background: $magenta;
  border-radius: 100em;
  padding: 1.5px;
}

.block--footer {
  background: linear-gradient(
    transparent 0%,
    transparent 50%,
    $off-black 50%,
    $off-black 100%
  );
  text-align: center;
  padding-top: 160px;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;

  .image--background {
    position: absolute;
    bottom: 580px;
    left: 0;
    z-index: -1;
    height: calc(100% - 580px);
    width: 100%;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto;
      height: 100%;
      object-fit: cover;

      @include mq(md) {
        width: 100%;
        height: auto;
      }
    }
  }

  .brush-1 {
    position: absolute;
    top: -110px;
    left: -200px;

    @include mq(md) {
      left: 0;
    }
  }

  .brush-2 {
    position: absolute;
    top: 0px;
    right: -100px;

    @include mq(md) {
      right: 0;
    }
  }

  a {
    color: $white;
    &:hover {
      color: $primary;
    }
  }
  .awaken-logo {
    margin: 101px 0 35px;
    opacity: 0.4;
    path {
      fill: $white;
    }
  }

  h3 {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.16em;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 78px;
    text-align: center;

    @include mq(lg) {
      margin-left: 150px;
      text-align: left;
    }
  }

  .grid--contact {
    display: grid;
    grid-template-columns: 1fr;
    background: $white;
    text-align: left;
    box-shadow: 0px 0px 50px rgba(35, 31, 32, 0.13);

    @include mq(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq(lg) {
      grid-template-columns: auto 300px;
    }
    @include mq(xxl) {
      grid-template-columns: auto 487px;
    }

    .form--area {
      padding: 25px;

      @include mq(md) {
        padding: 45px;
      }
      @include mq(xxl) {
        padding: 90px;
      }

      .gform_wrapper {
        ul.gform_fields {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 40px 51px;

          @include mq(lg) {
            grid-template-columns: 1fr 1fr;
          }
          li.gfield {
            width: 100%;
            text-align: left;
            display: block;
            margin: 0 !important;
            &#field_2_1,
            &#field_2_4 {
              @include mq(lg) {
                grid-column: span 2;
              }
            }
            label {
              text-align: left;
              font-size: 16px;
              line-height: 19px;
              color: #9b9b9b;
              font-weight: 600;
              margin: 0 0 10px;
              padding: 0;
              width: 100%;
            }
            div.ginput_container {
              padding: 0;
              width: 100%;
              input,
              textarea {
                font-size: 22px !important;
                line-height: 26px;
                width: 100%;
              }
              textarea {
                height: 70px;
              }
            }
          }
        }
        .gform_footer {
          margin-top: 40px !important;
          text-align: right !important;
        }
      }
    }
  }

  .contact--info {
    background: #eff4f0;
    padding: 40px 25px 15px;

    @include mq(md) {
      padding: 45px;
    }
    @include mq(xxl) {
      padding: 90px 99px;
    }
    p {
      margin: 0;
      line-height: 1.18em;
      color: #626262;

      strong {
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.2em;
      }
    }
    .item {
      padding-left: 45px;
      position: relative;
      border-bottom: 1px solid #dce0dc;
      padding-bottom: 29px;

      i {
        position: absolute;
        top: 5px;
        left: 10px;
      }

      &:not(:first-of-type) {
        padding-top: 29px;
        i {
          top: 35px;
        }
      }
      &:last-of-type {
        border: 0;
      }
    }
  }
  .copyright {
    font-size: 18px;
    line-height: 22px;
    color: #9b9b9b;

    span {
      margin: 0 3px;
    }
  }
}

.block--footer-small {
  background: url(/wp-content/uploads/2020/05/footer-bg.jpg) no-repeat center /
    cover;
  color: $white;
  text-align: center;
  padding: 90px 0 40px;

  @include mq(lg) {
    padding: 160px 0 40px;
  }

  .awaken-logo {
    margin: 99px 0 34px;
    width: 190px;
    height: auto;

    path {
      fill: #9b9b9b;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $light-gray;
  }

  h3 {
    font-weight: 300;
    font-size: 2.18rem;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 39px;
  }

  p {
    font-size: 1.36rem;
    line-height: 1.2em;
    color: $white;
    width: 776px;
    margin: 0 auto 50px;
    max-width: 100%;
  }

  .copyright {
    p {
      font-size: 18px;
      line-height: 22px;
      color: #9b9b9b;
      margin: 0;
      width: 100%;

      a {
        color: $white;

        &:hover {
          color: $green;
        }
      }
    }
  }

  .spacer {
    @include mq(lg) {
      height: 150px;
      width: 150px;
    }
  }
}
.page-id-228 {
  footer {
    .spacer {
      height: 35px;
    }
  }
}
.page-id-228,
.page-id-230 {
  footer {
    .awaken-logo {
      @include mq($until: lg) {
        margin-top: 0;
      }
    }
  }
}
