html {
  background: #e5e5e5;
  font-size: 16px;

  @include mq(xl) {
    font-size: 22px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.63em;
  color: $gray;
  font-family: $agenda_condensed;
}

*:last-child {
  margin-bottom: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.site-wrap {
  overflow: hidden;
}

// Remove subpixel-antialiased default but keep for retina resolutions.
// http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 200dpi),
    only screen and (min-resolution: 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
::-moz-selection {
  background: $selection-highlight-background;
  color: $selection-highlight-color;
  text-shadow: none;
}

::selection {
  background: $selection-highlight-background;
  color: $selection-highlight-color;
  text-shadow: none;
}
p {
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: $off-black;
  font-family: $agenda;
}

h1 {
  font-size: 4.54rem;
  line-height: 1.1em;

  body:not(.home) & {
    font-size: 3.5rem;

    @include mq(xxl) {
      font-size: 4.54rem;
    }
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.16em;
  letter-spacing: 0.16em;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  @include mq(xl) {
    font-size: 2.3rem;
  }
  @include mq(xxl) {
    font-size: 2.5rem;
  }

  body:not(.home) & {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 25px;

    @include mq(xxl) {
      font-size: 2.18rem;
    }
  }
}

h3 {
  font-size: 0.818rem;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h5 {
  font-size: 0.818rem;
  line-height: 1.5em;
  color: $light-gray;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  body:not(.home) & {
    font-weight: 600;
    color: $gray;
    margin-bottom: 30px;
  }
}

.container-fluid {
  @include mq(lg) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.padding--section {
  padding: 90px 15px;

  @include mq(lg) {
    padding: 12vh 15px;
  }
  @include mq(xl) {
    padding: 23vh 15px;
  }
}
