.block {
  position: relative;
}

.block__team-member {
  display: flex;
  align-items: flex-start;
  margin-bottom: 90px;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
  }

  @include mq(xl) {
    margin-bottom: 150px;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 35px;

    @include mq(md) {
      margin-right: 40px;
      width: 30vw;
      margin-bottom: 0;
    }
  }

  &:nth-child(even) {
    flex-direction: column;

    @include mq(md) {
      flex-direction: row-reverse;
    }

    img {
      margin-bottom: 35px;

      @include mq(md) {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 40px;
      }
    }
  }
}

#popup {
  width: 50vw;
  background: $white;
  border: 10px solid $primary;
  margin: 0 auto;
  padding: 45px;
  position: relative;

  p {
    margin-bottom: 0;
  }
}

.mfp-bg {
  background: $white;
  opacity: 0.85;
}
