.block {
  position: relative;
}

.block__team-member {
  display: flex;
  align-items: flex-start;
  margin-bottom: 90px;

  @include mq(xl) {
    margin-bottom: 150px;
  }

  img {
    width: 100%;
    height: auto;
    margin-right: 40px;

    @include mq(md) {
      width: 30vw;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    img {
      margin-right: 0;
      margin-left: 40px;
    }
  }
}

#popup {
  width: 50vw;
  background: $white;
  border: 10px solid $primary;
  margin: 0 auto;
  padding: 45px;
  position: relative;

  p {
    margin-bottom: 0;
  }
}

.mfp-bg {
  background: $white;
  opacity: 0.85;
}
